/* ------------------- */
/*        FAQ          */
/* ------------------- */

#faq {
  padding-bottom: 140px;
}

.faq-title {
  margin-bottom: 26px;
}

.faq{
  --beforeAnimation: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.faq::after{
  width: var(--beforeAnimation);
  content: "";
  height: 1px;
  background-color: #E3E3E3 ;
  position: absolute;
  bottom: 0;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 23.6px;
}
.question:hover {
  cursor: pointer;
}

.faq-container .faq:not(:first-child) {
  margin-top: 40px;
}
.answer {
  max-height: 0px;
  overflow: hidden;
}

.faq.active .answer {
  max-height: 300px;
  padding-bottom: 45px;
  animation: fade 500ms ease-in-out;
  line-height: 2;
}

.answer {
  transition: max-height 200ms ease, margin 200ms ease;
}

.faq.active img {
  transform: rotate(180deg);
}

.faq img {
  transition: transform 200ms ease;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.left h3{
  line-height: 1.8;
  letter-spacing: 0.1rem;
}
/* ------------------- */
/*       MOBILE        */
/* ------------------- */

/*----------------------------
  Responsive Typography 
  レスポンシブなティポグラフィ
----------------------------*/

@media (max-width:768px){
  .left h3{
    font-size: 18px;
    letter-spacing: 0.72px;
  }

}

/*----------------------------
  Chevron Placements
  シェブロンの配置
----------------------------*/
@media (max-width:768px){
  .question {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  } 
  .question img{
    margin-top: 1ch;
    width: 12px;
  }

  .faq[data-question-number="3"]  .question,
  .faq[data-question-number="5"]  .question{
    align-items: center;
  }
  .faq[data-question-number="3"]  .question img,
  .faq[data-question-number="5"]  .question img{
    margin-top:0;
  }
  
}

/*----------------------------
    Q Placements
    Q の配置
----------------------------*/

@media (max-width:768px){
  .left {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 23.6px;
  }
  .center-q{
    height: 100%;
  }
  .q-icon_top{
    transform: translateY(-7px);
  }
  .q-icon_center{
    transform: translateY(3px);
  }
  .left.flex-start{
    align-items: flex-start;
  }
}

@media (max-width:768px){
  #faq{
    padding-bottom: 80px;
  }
  .faq{
    gap: 25px;
  }
  .faq-title{
    margin-bottom: 10px;
  }
  .faq.active .answer{
    padding-bottom: 25px;
  }
  .faq-container .faq:not(:first-child){
    margin-top: 30px;
  }
}