@charset "utf-8";

.flow_content{
    display: flex;
    gap: 80px;
    margin: 140px 0 80px;
    justify-content: end;
    width: 90.264vw;
}
.flow_content .sec_title{
    width: 240px;
}
.flow_column{
    display: flex;
    flex-flow: column;
    gap: 10px;
    background-color: #EFE3E0;
    padding: 70px 10% 100px 60px;
    width: 65vw;
}
.flow_flex{
    display: flex;
    gap: 20px;
    align-items: center;
}
.flow_number{
    font-size: 65px;
    color: #C38C80;
    padding-left: 15px;
}
.flow_title{
    font-size: 20px;
    font-family: 'Zen Old Mincho', serif;
    margin-bottom: 10px;
}
.flow_text{
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
.flow_line{
    content: "";
    width: 100%;
    border-bottom: solid 1px #E1C5BF;
}