@charset "utf-8";


footer{
    color: #fff;
    background-color: #45484B;
    padding: 80px 0;
    letter-spacing: 0.1rem;
}
footer ul{
    list-style: none;
}
.footer_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 40px;
}
.footer_address{
    line-height: 2;
}
.footer_logo{
    margin-bottom: 50px;
    width: 88px;
}
.footer_menu{
    min-width: 260px;
}
.footer_menu p{
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: solid #fff 1px;
}
.footer_menu_content{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}
.footer_menu_item{
    display: flex;
    flex-flow: column;
    gap: 20px;
}
.instagram_arrow{
    display: inline-block;
    width: 16px;
}
.copy{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copy p{
    font-size: 14px;
}
.totop{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}
.totop a{
    padding-top: 3px;
    color: #fff;
}
footer a{
    color: #fff;
    position: relative;
}
footer a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    bottom: -1px;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s;
}
footer a:hover::after {
    transform: scale(1, 1);
    transform-origin: left top;
}

@media (max-width: 768px) {
    footer{
        padding: 60px 0 130px;
    }
    .footer_top{
        margin-bottom: 40px;
    }
    .footer_logo{
        width: 87px;
        margin-bottom: 25px;
    }
    .copy{
        font-size: 12px;
    }
    .copy p{
        font-size: 12px;
        letter-spacing: normal;
    }
    .totop{
        gap: 10px;
        letter-spacing: 0.05rem;
    }

    #fixed-footer{
        z-index: 3000;
        border-top: solid 1px #45484B;
    }

    #fixed-footer p{
        letter-spacing: 0;
    }

    /* 最初は非表示 */
    .fixed-footer{
        opacity: 0;
        visibility: hidden;
        transform: translateY(50px);
        transition: opacity 0.5s,visibility 0.5s, transform 0.5s;
    }

    /*このクラスが付与されると表示する*/
    .active{
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }

    
}

