@charset "utf-8";


footer{
    color: #fff;
    background-color: #45484B;
    padding: 80px 100px;
    letter-spacing: 0.1rem;
}
footer ul{
    list-style: none;
}
.footer_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 40px;
}
.footer_address{
    line-height: 2;
    padding-top: 1px;
}
.footer_logo{
    margin-bottom: 25px;
    width: 88px;
}
.footer_menu{
    min-width: 260px;
}
.footer_menu p{
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: solid #fff 1px;
}
.footer_menu_content{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}
.footer_menu_item{
    display: flex;
    flex-flow: column;
    gap: 22px;
}
.instagram_arrow{
    display: inline-block;
    width: 16px;
}
.copy{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copy p{
    font-size: 14px;
}
.totop{
    display: flex;
    align-items: center;
    /* gap: 15px; */
    justify-content: center;
}
.totop a{
    padding-top: 5px;
    color: #fff;
}

.totop img{
    margin-left: 15px;
}

.footer_menu a,
.totop a{
    color: #fff;
    position: relative;
}

.footer_menu a::after,
.totop a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    bottom: -1px;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s;
}
.footer_menu a:hover::after,
.totop a:hover::after {
    transform: scale(1, 1);
    transform-origin: left top;
}

.totop_arrow::after{
    opacity: 0;
}

.br_1300{
    display: none;
}

@media screen and (max-width: 1400px){
    .br_1300{
        display: block;
    }

    .footer_menu p{
        padding-bottom: 24px;
        margin-bottom: 38px;
    }

    .footer_menu_content{
        gap: 2rem;
    }

    .footer_menu_item{
        gap: 30px;
    }

}

@media screen and (max-width: 1050px) {
    .footer_menu{
        width: 370px;
    }
}

@media (max-width: 768px) {
    footer{
        padding: 60px 20px 130px;
    }
    .footer_top{
        margin-bottom: 40px;
    }
    .footer_logo{
        width: 87px;
        margin-bottom: 25px;
    }
    .copy{
        font-size: 12px;
    }
    .copy p{
        font-size: 12px;
        letter-spacing: normal;
    }
    .totop{
        /* gap: 10px; */
        letter-spacing: 0.05rem;
    }

    .totop img{
        margin-left: 10px;
    }

    #fixed-footer{
        position: fixed;
        z-index: 3000;
        border-top: solid 1px #45484B;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    /* 最初は非表示 */
    .fixed-footer{
        opacity: 0;
        visibility: hidden;
        transform: translateY(50px);
        transition: opacity 0.5s,visibility 0.5s, transform 0.5s;
        
    }

    /*このクラスが付与されると表示する*/
    .active{
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }

    
}

