@charset "utf-8";

.gallery_content {
  margin: 50px 0 0 0;
}
.gallery_top {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 70px;
}
.gallery_top h2{
  padding-bottom: 0;
}
.follow_btn {
  display: flex;
  align-items: end;
  gap: 15px;
}
.follow_btn p {
  color: #45484B;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}
.follow_btn p::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #45484B;
  transition: transform .3s;
  transform-origin: left top;
}
.follow_btn p:hover::after {
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
.follow_btn img {
  width: 30px;
}
/* 仮置きなのでInstagramAPI対応後削除予定 */
.insta_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}
.insta_flex a {
  width: calc(28% - 45px);
}
.insta_flex a:hover {
  transition: 0.3s;
  opacity: 0.8;
}

.gallery_space{
  width: 100%;
  height: 5px;
  background-color: #fff;
}
/* ここまで仮置き */

@media (max-width: 768px) {
    .gallery_content{
      margin: 35px 0 100px;
    }
    .gallery_top{
      margin-bottom: 0;
    }
    .gallery_top h2{
      padding-bottom: 45px;
    }
    .follow_btn{
      margin-right: 0;
      margin-top: 25px;
      justify-content: end;
    }
    .follow_btn p{
      font-size: 14px;
    }
    /* 仮置きなのでInstagramAPI対応後削除予定 */
    .insta_flex{
      gap: 10px;
    }
    .insta_flex a{
      width: calc(50% - 5px);
    }
    /* ここまで仮置き */

}


#instafeed {
/* border: 1px solid red; */
}
#instafeed a {
  /* width: 266px; */
  /* height: 266px; */
  width: 100%;
  height: auto;
  aspect-ratio: 1;
}

#instafeed a > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#instafeed{
  gap: 12px;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));  */
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media(max-width:922px){
  #instafeed{

    /* gap: 5px; */
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));  */
  }
  
}

@media(max-width:768px){
  #instafeed{
    gap: 10px;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));  */
    grid-template-columns: 1fr 1fr;
  }
  #instafeed a {
    /* width: 170px; */
    /* height: 170px; */
  }
  
}

@media(max-width:380px){
  #instafeed{

    /* gap: 5px; */
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));  */
  }
  #instafeed a {
    /* width: 150px; */
    /* height: 150px; */
  }
}
