@charset "utf-8";

.gallery_content {
  margin: 50px 0 140px;
}
.gallery_top {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 70px;
}
.follow_btn {
  display: flex;
  align-items: end;
  gap: 15px;
}
.follow_btn p {
  padding-bottom: 5px;
  border-bottom: solid #000 1px;
  letter-spacing: 2px;
}
.follow_btn p:hover {
  color: #c38c80;
  transition: 0.3s;
  padding-bottom: 2px;
}
.follow_btn img {
  width: 30px;
}
/* 仮置きなのでInstagramAPI対応後削除予定 */
.insta_flex {
  display: flex;
  flex-wrap: wrap;
    justify-content: space-between;
    flex-flow: ;
  gap: 15px;
}
.insta_flex a {
  width: calc(28% - 45px);
}
.insta_flex a:hover {
  transition: 0.3s;
  opacity: 0.8;
}
/* ここまで仮置き */

@media (max-width: 768px) {
    .gallery_content{
        margin: 35px 0 80px;
    }
    .gallery_top{
        margin-bottom: 45px;
    }
    .follow_btn{
        margin-right: 0;
        margin-top: 25px;
        justify-content: end;
    }
    .follow_btn p{
        font-size: 14px;
    }
    /* 仮置きなのでInstagramAPI対応後削除予定 */
    .insta_flex{
        gap: 10px;
    }
    .insta_flex a{
        width: calc(50% - 5px);
    }
    /* ここまで仮置き */

}
