/* ------------------- */
/* HEADER            */
/* ------------------- */

/*----------------------------------
  Header alignment and positioning
  ヘッダーの配置と位置合わせ
------------------------------------*/

header {
  width: 100%;
  position: fixed;
  top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 8001;
  left: calc(100vw - 100%);
}
.header_right {
  height: 100%;
  display: flex;
  align-items: center
}

/*----------------------------------
   Header Paddings
   ヘッダーのパディング
------------------------------------*/

header {
  padding-left: 30px;
  padding-right: 40px;
}

@media screen and (max-width:768px){
  header{
    padding: 0 20px;
    top: 20px;
  }
}

/*----------------------------------
   Header Margins
   ヘッダーのパディング
------------------------------------*/

.header-tel_img {
  margin-right: 12px;
}

.header-info {
  margin-right: 24px;
}
.header-decor {
  margin-right: 30px;
}

/*----------------------------------
   Header Decor
   ヘッダーデコレーション
------------------------------------*/

.header-decor {
  width: 1px;
  background-color: #45484b;
}

/*----------------------------------
   Header Button
   ヘッダーボタン
------------------------------------*/

.header-btn {
  display: grid;
  place-content: center;
  letter-spacing: 0.2rem;
  width: 170px;
  height: 40px;
}
.header-btn::after {
    top: 14px;
    right: 12px;
}


/*----------------------------------
   Header Heights
   ヘッダー要素の高さ
------------------------------------*/
.header-info {
    height: 40px;
    /* border: 1px solid red; */
  }
  .header-decor {
   height: 40px;
  }


/*----------------------------------
  Header Typography
  ヘッダーのタイポグラフィ
------------------------------------*/

.tel-number{
  letter-spacing: 0.25px;
  transform: translateY(-10px);
}

.tel-number a{
  color: #45484B;
}

.time {
  letter-spacing: 1.96px;
  transform: translateY(-15px);
}

@media (max-width:500px) {
  .logo{
    width: 70.9px;
  }
}

@media(max-width:768px){
  .trigger-logo{
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}