/* ------------------- */
/* HEADER            */
/* ------------------- */

/*----------------------------------
   Header alignment and positioning
   ヘッダーの配置と位置合わせ
------------------------------------*/

header{
    border: 1px solid red;
    width: 100%;
    position: absolute;
    top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header_right{
    border: 1px solid green;
    height: 100%;
    display: flex;
}
.header-btn{
    display: grid;
    place-content: center;
}
/*----------------------------------
   Header Paddings and Margins
   ヘッダーのパディング、マージン
------------------------------------*/

header{
padding-left: 30px;
padding-right: 40px;
    
}

.header-tel_img{
    margin-right: 12px;
}

.header-info{
margin-right: 24px;
}
.header-decor{
    margin-right:30px ;
}

.header-btn{
    padding: 6.92px 50.2px 9px 50px;
}
/*----------------------------------
   Header Decor
   ヘッダーデコレーション
------------------------------------*/

.header-decor{
width: 1px;
background-color: #45484B;
}