/* ------------------- */
/* INSPIRATION         */
/* ------------------- */

/*----------------------------
    Margins And Padding
    マージンとパディング
----------------------------*/
.inspiration-container {
  padding-top: 81.2px;
  padding-bottom: 67px;
  border-top: 1px solid #969493;
  border-bottom: 1px solid #969493;
}

.inspiration-eng {
  margin-bottom: 32px;
}
.inspiration-jp {
  padding-left: 1px;
}

/*----------------------------
    Slider Controls
    スライダーコントロール
----------------------------*/

.slider-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 36px;
  margin-bottom: 38.3px;
}

.indicators {
  display: flex;
  gap: 31px;
  padding: 0;
  margin: 0;
}
.indicators:hover {
  cursor: pointer;
}

.slider-buttons {
  display: flex;
  gap: 20px;
}
.slider-btn {
  background: transparent;
  border: none;
  display: grid;
  place-items: center;
}
.slider-btn img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.slider-btn:hover {
  cursor: pointer;
}

/*----------------------------
    Slider
    スライダー
----------------------------*/

.slide_img {
  width: 100%;
}
.slide_item {
  width: 50%;
  position: relative;
}

.card-inner {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.slide_item p {
  position: absolute;
  width: 180px;
  height: 40px;
  top: 0px;
  left: 0;
  z-index: 3;
  background-color: #ffffff;
  clip-path: polygon(0 0, 100% 0, 74% 100%, 0 100%);
  display: grid;
  place-content: center;
  letter-spacing: 2.88px;
}

.active {
  color: #3E3A39;
}

.ba_label{
  font-size: 16px;
}

/*----------------------------
    Inspiration Bottom
    インスピレーションボトム
----------------------------*/

.inspiration-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30.2px;
}

/*----------------------------
    Inspiration Button
    インスピレーションボタン
----------------------------*/

.inspiration-button.black-btn {
  padding: 7.1px 46.2px 8.9px 35.6px;
}

.inspiration-button.black-btn::after {
  top: 14px;
  right: 20px;
}

.card {
  -webkit-backface-visibility: hidden;
  padding: 0 4px;
}

@media(max-width:1000px){
  .inspiration-bottom p{
    width: 65%;
  }
}


/* ------------------- */
/*       MOBILE        */
/* ------------------- */


/*----------------------------
    Responsive Typography
    レスポンシブなティポグラフィ
----------------------------*/


@media(max-width:425px){
  .insp-sp{
    font-size: 14px;
  }
  .indicator.fs-14{
    font-size: 12px;
  }
  .inspiration-bottom > .fs-20{
    font-size: 16px;
  }
}

/*----------------------------
    Inspiration Bottom - Mobile
    インスピレーションボトム - モバイル
----------------------------*/

@media (max-width:767px){
  .inspiration-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 25px;
    gap:10px;
  }
  .inspiration-bottom p{
    padding-bottom: 22px;
    width: 100%;
  }
}

/*----------------------------
    Slider Controls - Mobile
    スライダーコントロール - モバイル
----------------------------*/

@media (max-width:767px){
  .slider-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 38px;
    margin-bottom: 19px;
    margin-top: 32px;
  
  }
  .indicators {
    display: flex;
    gap: 21px;
  }
  .slider-buttons {
    display: flex;
    gap: 20px;
  }

}

/*----------------------------
    Slider - Mobile
    スライダー - モバイル
----------------------------*/

@media (max-width:767px){
  .slide_item p {
    font-size: 14px;
    position: absolute;
    width: 110px;
    height: 24px;
    z-index: 3;
    letter-spacing: 2.52px;
    padding-right: 10px;
  }
  .slick-slide img{
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

/*----------------------------
    Margins And Padding - Mobile
    マージンとパディング - モバイル
----------------------------*/

@media (max-width:767px){
  .inspiration-eng {
    margin-bottom: 28px;
  }
  .inspiration-container {
    padding-top: 57px;
    padding-bottom: 60px;
    border-top: 1px solid #969493;
    border-bottom: 1px solid #969493;
  }
}


/*----------------------------
  Inspiration Button - Mobile
  インスピレーションボタン - モバイル
----------------------------*/

@media(max-width:768px){
  .inspiration-button.black-btn {
    display: grid;
    place-content: center;
    padding: 7.1px 46.2px 8.9px 35.6px;
  }
  .inspiration-button.black-btn p{
    padding: 0;
  }
}