/* ------------------- */
/* INSPIRATION            */
/* ------------------- */
#recommended{
    /* temp css  一時的なCSS*/
    min-height: 50vh;
    border: 1px solid black;
}

/*----------------------------
    Margins And Padding
    マージンとパディング
----------------------------*/

#inspiration{
    padding-top: 81.2px;
}

.inspiration-container{
    border: 1px solid red;
}

.inspiration-eng{
    margin-bottom:42px ;
}
.inspiration-jp{
    padding-left: 1px;
}

/*----------------------------
    Slider Controls
    スライダーコントロール
----------------------------*/

.slider-controls{
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 36px;
    
}

.indicators{
    display: flex;
    gap: 31px;
    padding: 0;
    margin: 0;
}

.slider-buttons{
    display: flex;
    gap: 26px;
}

/*----------------------------
    Slider
    スライダー
----------------------------*/

.slide_img{
    width:100%;
}
.slide_item{
    width: 50%;
    position: relative;
}

.card-inner{
    display: flex;
    flex-direction: row;
    gap: 2px;
    border: 1px solid gray;
}

.slide_item p {
    position: absolute;
    width: 180px;
    height: 40px;
    top:0;
    left: 0;
    z-index: 3;
    background-color: #FFFFFF;
    clip-path: polygon(0 0, 100% 0, 74% 100%, 0 100%);
    display: grid;
    place-content: center;
    letter-spacing: 2.88px;
}