/* ------------------- */
/* ITEM           */
/* ------------------- */

#item {
  padding-top: 140px;
}
.it_wrap {
  display: grid;
  grid-template-columns: 40% 60%;
}
.it_right {
  height: max-content;
}
.item_img{
  margin-top: 100px;
}

.it_right span {
  display: block;
  margin-top: 75px;
  line-height: 46px;
  letter-spacing: 0.8px;
}

.it_right h3 {
  line-height: 46px;
  letter-spacing: 1.6px;
  margin-top: 8px;
}

.it_right p {
  margin-top: 33px;
  line-height: 30px;
  text-align: justify;
}

.graybox {
  width: 100%;
  aspect-ratio: 1.5;
  background-color: #c9c9c9;
}

.graybox:nth-of-type(2) {
  margin-top: 70px;
}
/*----------------------------
    Sticky
----------------------------*/
.it_left {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  height: fit-content;
  margin-right: 40px;
}

/* ------------------- */
/*       MOBILE        */
/* ------------------- */

/*----------------------------
    Responsive Typography 
    レスポンシブなティポグラフィ
----------------------------*/

@media (max-width:768px){
  .it_right span {
    display: block;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.64px;
  }
  .it_eng{
    font-size:30px;
  }
}

/*----------------------------
    Sticky Remove
    Stickyを削除
----------------------------*/
@media (max-width:768px){
  .it_left {
    position: static;
  }
}

/*----------------------------
    Wrap- Mobile
----------------------------*/
@media (max-width:768px){
  .it_wrap {
    display: flex;
    flex-direction: column;
  }
}

/*----------------------------
    Mobile Margins and paddings
    モバイルのマージンとパディング
----------------------------*/
@media (max-width:768px){
  .it_right {
   margin-top: 0;
  }
  .it_right span {
    margin-top: 42px;
  }
  .it_right h3 {
    margin-top: 10px;
  }
  .it_right p {
    margin-top: 35px;
  }
  #item {
    padding-top: 79px;
  }
  .item_img{
    margin-top: 75px;
  }
}

