.kv_top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.kv_top .kv_01 {
  width: 51.2vw;
}

.kv_top .kv_title {
  width: 39.1vw;
  margin-top: 9.3vw;
  margin-right: 4.39vw;
}

.kv_bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: -21%;
  padding-bottom: 140px;
}

.kv_bottom .kv_text{
    margin-left: 9.73vw;
}

.kv_bottom .kv_text .kagayaku {
  font-size: 1.46vw;
  letter-spacing: 2.9px;
}

.kv_bottom .kv_text h2 {
  font-size: 2.86vw;
  letter-spacing: 0.15em;
  margin-top: 1.68vw;
}

.kv_bottom .kv_text .and {
  font-size: 1.76vw;
}

.kv_bottom .kv_text .kararagu {
  font-size: 1.17vw;
  letter-spacing: 0.145em;
  margin-left: 14px;
}

.kv_bottom .kv_text p {
  font-size: min(1.17vw, 16px);
  line-height: min(2.49vw, 34px);
  margin-top: 3.66vw;
  width: 41vw;
}

.kv_bottom .kv_02{
    width: 41vw;
}

@media (max-width: 768px) {
    .kv_top{
        display: block;
        position: relative;
    }
    .kv_top .kv_01{
        width: 76vw;
    }
    .kv_top .kv_title{
        width: 65vw;
        position: absolute;
        top: 80px;
        right: 20px;
        margin: 0;
    }
    .kv_bottom{
        flex-flow: column;
        margin-top: 80px;
        padding-bottom: 80px;
    }
    .kv_bottom .kv_text {
        margin-left: 5%;
        margin-right: auto;
    }
    .kv_bottom .kv_text .kagayaku{
        font-size: 16px;
    }
    .kv_bottom .kv_text h2{
        font-size: 28px;
        letter-spacing: 0.15em;
        margin-top: 1.68vw;
    }
    .kv_bottom .kv_text .and{
        font-size: 18px;
    }
    .kv_bottom .kv_text .kararagu{
        font-size: 16px;
        margin-left: 0;
    }
    .kv_bottom .kv_text p{
        font-size: 16px;
        line-height: 2rem;
        width: 100%;
        margin-bottom: 45px;
    }
    .kv_bottom .kv_02{
        width: 72vw;
        height: 280px;
        object-fit: cover;
    }
}
