.kv_top{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.kv_top .kv_01{
    width: 51.2vw;
}

.kv_top .kv_title{
    width: 39.1vw;
    margin-top: 9.3vw;
    margin-right: 4.39vw;
}

.kv_bottom{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: -23%;
    padding-bottom: 140px;
}

.kv_bottom .kv_text{
    /* margin-top: 70px; */
    margin-left: 9.73vw;
}

.kv_bottom .kv_text .kagayaku{
    font-size: 1.46vw;
    letter-spacing: 2.9px;
}

.kv_bottom .kv_text h2{
    font-size: 2.86vw;
    letter-spacing: 0.15em;
    margin-top: 1.68vw;
}

.kv_bottom .kv_text .and{
    font-size: 1.76vw;
}

.kv_bottom .kv_text .kararagu{
    font-size: 1.17vw;
    letter-spacing: 0.145em;
    margin-left: 14px;
}

.kv_bottom .kv_text p{
    font-size: 1.17vw;
    line-height: 2.49vw;
    margin-top: 3.66vw;
}

.kv_bottom .kv_02{
    width: 41vw;
}