/* ------------------- */
/*           NAV       */
/* ------------------- */


/*----------------------------------
  Hamburger Menu
    ハンバーガーメニュー
------------------------------------*/

.menu_icon {
  width: 30.5px;
  height: 19.5px;
  margin: auto;
  z-index: 10;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin-left: 20px;
  z-index: 9000;
}

.container:hover,
.menu_icon:hover{
  cursor: pointer;
}
  .menu_icon span {
    position: absolute;
    display: block;
    height: 1px; /* Adjusted height for the spans */
    width: 30.5px; /* Width remains the same */
    transform: rotate(0);
  }
  .one,
  .three {
    /* background-color: #45484B;  here */
  }
  
  .two {
    width: 30.5px;
    height: 5px;
    z-index: 10;
    position: relative;
    display: flex;
    background-color: none;
  }
  
  .two span {
    position: absolute;
    display: block;
    height: 1px;
    width: 20px;
    /* background-color: #45484B; here */
    transform: rotate(0);
  }
  
  .two span:nth-child(2) {
    right: 0;
  }
  
  .two span:nth-child(1),
  .two span:nth-child(2) {
    transform: translateX(0);
    transition: all 200ms 500ms ease;
  }
  
  span.one {
    top: 0px;
    transition: all 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  
  span.two {
    top: 8.5px; /* Adjusted top position */
    transition: all 400ms cubic-bezier(0.895, 0.03, 0.685, 1.92);
  }
  
  span.three {
    bottom: 0; /* Adjusted position to align at the bottom */
    transition: all 500ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  
  /* Adjusted styles for clicked state */
  .clicked .one {
    transform: translateY(12px) rotate(45deg); /* Adjusted translation and rotation */
    background-color: white;
  }
  
  .clicked .three {
    transform: translateY(-7px) rotate(-45deg); /* Adjusted translation and rotation */
    background-color: white;
  }
  
  .clicked .two span:nth-child(1) {
    transform: translateX(10px); /* Adjusted translation */
    background-color: white;
    opacity: 0;
  }
  
  .clicked .two span:nth-child(2) {
    transform: translateX(-10px); /* Adjusted translation */
    background-color: white;
    opacity: 0;
  }

  .hidden-span{
    opacity:0 !important;
  }

/*----------------------------------
   Main Nav(PC)
   メインナビゲーション(PC)
------------------------------------*/

.primary-nav{
    z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color:#45484B ;
  width: 100vw;
}

.primary-nav_img{
  width: 45vw;
  height: 100vh;
}
.primary-nav_hero{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*----------------------------------
  Main Nav(PC)  - Nav Links
  メインナビ(PC) - ナビゲーションリンク
------------------------------------*/

.primary-nav_list{
  width: 55vw;
  display: grid;
  padding: 95px 132.5px 102.8px 133.5px;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
}

.primary-nav_reservation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  gap: 60px;
}

.primary_book{
  display: grid;
  place-content: center;
  width: calc(100% - 12.5%);
  height: 60px;
}

.primary_book::after{
  top:24px;
  right: 20px;
}

.primary-contact{
  position: relative;
  width: calc(100% - 12.5%);
}

.primary-contact::before{
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top:-20px;
  left: 0;
  background-color: white;
}

.nav-link{
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
}

.primary-link,
.hamburger_insta{
  transition: opacity 0.6s;
}

.primary-link:hover,
.hamburger_insta:hover{
  opacity: .6;
}

.sns{
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.sns img{
  width: 30px;
  height: 30px;
}

.hamburger_insta{
  display: flex;
  gap: 15px;
  align-items: end;
  color: #fff;
}

.primary-nav_reservation{
  grid-column: 1/3;
}

.primary-nav_transition{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #45484B;
  z-index: 8000;
  top: 0;
  left: 0;
  transform: translateX(100%);
}

.primary-nav{
  opacity: 0;
}

@media(min-width:1500px){
  .primary-nav_list{
    width: 1200px;
  }
  .primary-nav_img{
    width: 100%;
  }
}
@media(max-width:1225px){
  .primary-nav_list{
    padding: 95px 60px 102.8px 60px;
  }
}
@media(max-width:950px){
  .primary-nav_list{
    padding: 95px 40px 102.8px 40px;
    column-gap: 40px;
  }
}
@media(max-width:840px){
  .primary-nav_list{
    padding: 95px 30px 102.8px 30px;
    column-gap: 20px;
  }
}
@media(max-width:768px){
  .header-btn{
    display: none;
  }
}

/*----------------------------------
  Main Nav(SP)
  メインナビゲーション(SP)
------------------------------------*/


@media(max-width:768px) {
  .primary-nav_list{
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    overflow-y: scroll;
    padding: 100px 40px 170px 40px;
  }
  .primary-nav_list{
    display: flex;
    flex-direction: column;
  
  }
  .primary-nav_reservation{
    display: none;
  }
  .nav-link{
    padding-bottom: 16px;
    padding-top: 16px;
  }
  .sns{
    padding-top: 30px;
  }
}
/*----------------------------------
   Main Nav(SP)-bottom banner
   メインナビゲーション(SP)-下部バナー
------------------------------------*/
.primary-nav-bottom_sp{
position: fixed;
bottom: 0;
width: 100%;
background-color: #FFFFFF;
padding: 14.5px 25px 15px 25px;
}

.nav-bottom-inner{
display: flex;
align-items: center;
justify-content: space-between;
}
.nav-bottom-inner-iconflex{
  display: flex;
  justify-content: start;
}
.bottom-nav-btn{
  padding: 7.6px 0 8.4px;
  height: 40px;
  width: 160px;
  display: grid;
  place-content: center;
}

.bottom-nav-btn::after{
  display: none;
}

.location-img{
  width: 17.53px;
  height: 24.41px;
}

.tel-img{
  width: 18px;
  height: 18px;
}

.location,
.tel-no{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 70px;
  height: 40px;
  border-right: 1px solid #45484B;
  letter-spacing: 0.1rem;
}

.tel-no{
  margin-right: 30px;
  justify-content: space-between;
  gap: 11.5px;
}

.primary-contact.bottom-btn{
  background-color: transparent;
}


.tel.header-tel-white::before{
  content: url(../images/nav/tel-white.png);
  width: 20px;
  height: 20px;
}

.nav-logo-img{
  display: none;
}


/* hamburger line colors */

.hamburger_line{
  background-color:#45484B;
}