/* ------------------- */
/*           NAV       */
/* ------------------- */


/*----------------------------------
   Hamburger Menu
    ハンバーガーメニュー
------------------------------------*/

.menu_icon {
  width: 30.5px;
  height: 19.5px;
  margin: auto;
  z-index: 10;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 0;
    /* border: 1px solid blue; */
    margin-left: 20px;
    z-index: 9000;
  }
 .container:hover{
  cursor: pointer;
 }
  .menu_icon span {
    position: absolute;
    display: block;
    height: 1px; /* Adjusted height for the spans */
    width: 30.5px; /* Width remains the same */
    transform: rotate(0);
  }
  .one,
  .three {
    background-color: black;
  }
  
  .two {
    width: 30.5px;
    height: 5px;
    z-index: 10;
    position: relative;
    display: flex;
    background-color: none;
  }
  
  .two span {
    position: absolute;
    display: block;
    height: 1px;
    width: 20px;
    background-color: black;
    transform: rotate(0);
  }
  
  .two span:nth-child(2) {
    right: 0;
  }
  
  .two span:nth-child(1),
  .two span:nth-child(2) {
    transform: translateX(0);
    transition: all 200ms 500ms ease;
  }
  
  span.one {
    top: 0px;
    transition: all 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  
  span.two {
    top: 8.5px; /* Adjusted top position */
    transition: all 400ms cubic-bezier(0.895, 0.03, 0.685, 1.92);
  }
  
  span.three {
    bottom: 0; /* Adjusted position to align at the bottom */
    transition: all 500ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  
  /* Adjusted styles for clicked state */
  .clicked .one {
    transform: translateY(12px) rotate(45deg); /* Adjusted translation and rotation */
    background-color: white;
  }
  
  .clicked .three {
    transform: translateY(-7px) rotate(-45deg); /* Adjusted translation and rotation */
    background-color: white;
  }
  
  .clicked .two span:nth-child(1) {
    transform: translateX(10px); /* Adjusted translation */
    background-color: white;
    opacity: 0;
  }
  
  .clicked .two span:nth-child(2) {
    transform: translateX(-10px); /* Adjusted translation */
    background-color: white;
    opacity: 0;
  }

  .hidden-span{
    opacity:0 !important;
  }

/*----------------------------------
   Main Nav(PC)
   メインナビゲーション(PC)
------------------------------------*/

.primary-nav{
  /* z-index: 7999; */
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color:#45484B ;
  width: 100vw;
}

.primary-nav_img{
  width: 40vw;
  height: 100vh;
}
.primary-nav_hero{
  width: 100%;
  height: 100%;
}


/*----------------------------------
   Main Nav(PC)  - Nav Links
   メインナビ(PC) - ナビゲーションリンク
------------------------------------*/

.primary-nav_list{
 /* border: 1px solid red; */
 width: 60vw;
 display: grid;
 padding: 95px 132.5px 102.8px 133.5px;
}

.primary-nav_reservation{
  border: 1px solid white;
  display: grid;
  place-content: center;
  row-gap: 60px;
}

.primary_book{
  /* border: 1px solid green; */
  padding: 14px 164.5px 16.4px 166.6px;
}

.primary_book::after{
  top:24px;
  right: 20px;
}

/* .nav-decor{
  height: 1px;
  width: 100%;
  background-color: white;
} */
.primary-contact{
  position: relative;
}

.primary-contact::before{
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top:-30px;
  left: 0;
  background-color: white;
}

.nav-link{
  /* border: 1px solid green; */
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;

}
.primary-nav_list{
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
 }
 
 .sns{
  grid-column: 2;
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
 }

 .sns img{
  width: 30px;
  height: 30px;
 }

 .primary-nav_reservation{
  grid-column: 1/3;
 }


 .primary-nav_transition{
  position: fixed;
  width: 100vw;
  height: 100dvh;
  background-color: black;
  z-index: 8000;
  top: 0;
  left: 0;
  transform: translateX(100%);
 }

.primary-nav{
  opacity: 0;
}



@media(max-width:768px){
  .header-btn{
    display: none;
  }
}

/*----------------------------------
   Main Nav(SP)
   メインナビゲーション(SP)
------------------------------------*/


@media(max-width:768px) {
  .primary-nav_list{
    /* border: 1px solid red; */
    width: 100vw;
    height: 100dvh;
    padding: 100px 40px 0px 40px;
   }
   .primary-nav_list{
    display: flex;
    flex-direction: column;
  
   }
   .primary-nav_reservation{
    display: none;
   }
   .nav-link{
    padding-bottom: 16px;
    padding-top: 16px;
   }
   .sns{
    padding-top: 30px;
   }
}
/*----------------------------------
   Main Nav(SP)-bottom banner
   メインナビゲーション(SP)-下部バナー
------------------------------------*/
.primary-nav-bottom_sp{
border: 1px solid red;
position: fixed;
bottom: 0;
width: 100%;
background-color: #FFFFFF;
padding: 14.5px 25px 15px 25px;
}

.nav-bottom-inner{
display: flex;
border: 1px solid red;

}
.bottom-nav-btn{
  border: 1px solid green;
  padding: 7.6px 44.6px 8.4px 47.4px;
  height: 40px;
  width: 160px;
  display: grid;
  place-content: center;
}

.bottom-nav-btn::after{
  display: none;
}