.service-container{
  background-image: url(../images/service/newplan_bkg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
}
#service {
  background-color: rgba(226, 208, 202, 0.8);
  padding: 110px 0;
  padding-top: 128px;
  text-align: center;
}
.service_text {
  line-height: 2.5;
  letter-spacing: 0.1rem;
  padding-top: 65px;
  color: black;
}
.service_flex {
  display: flex;
  justify-content: space-between;
}
.service_content{
  background-color: #F6EEEB;
  padding: 80px 60px 100px;
  border-radius: 550px 550px 0 0;
  margin-top: 100px;
}
.service_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service_item {
  margin-top: 40px;
}
.service_item img {
  width: 230px;
  z-index: 2;
}
.service_item p{
  margin: auto;
  line-height: 1.7;
}
.service_inner{
  width: 310px;
  height: 160px;
  background-color: #E2D0CA;
  padding: 40px 0 30px;
  margin-top: -25px;
  z-index: 1;
}
.service_think{
  text-align: center;
  width: 600px;
  padding: 50px 0 20px;
}
.service_item h3 {
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 0.1rem;
  margin: auto;
}
.service_text_br{
  display: none;
}
.arrow_down {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.arrow_down img {
  width: 53px;
  display: block;
}
.plus {
  display: inline-block;
  vertical-align: middle;
  color: #C38C80;
  line-height: 1;
  width: 2px;
  height: 40px;
  background: currentColor;
  border-radius: 0;
  position: relative;
  margin-top: 135px;
}
.plus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

/* new plan */
#newplan{
  height: 100vh;
  display: grid;
  place-content: center;
}
#newplan h2{
  font-size: 39px;
  letter-spacing: 0.2rem;
}
.decor-div{
  grid-column: 2;
}

@media (max-width: 1200px) {
  .service_content{
    padding: 60px 30px;
  }
  .service_inner{
    width: 250px;
    height: 180px;
  }
  .service_think{
    width: 400px;
    height: 160px;
  }
  .service_text_br{
    display: block;
  }
  .plus{
    height: 30px;
    margin-top: 100px;
  }
}

@media (max-width: 950px) {
  .service_inner{
    width: 200px;
  }
  .service_think{
    width: 400px;
  }
  .service_item img {
    width: 160px;
  }
  .service_item h3{
    letter-spacing: 0.1rem;
    font-size: 22px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  #service{
    padding: 50px 0 80px;
  }
  .service_content{
    padding: 20px 20px 60px;
    margin-top: 60px;
  }
  .service_flex {
    display: block;
    align-items: center;
  }
  .service_item img{
    width: 230px;
  }
  .service_item p {
    font-size: 16px;
    width: 100%;
  }
  .service_text{
    line-height: 1.9;
    text-align: left;
    padding-top: 45px;
  }
  .service_text_br{
    display: none;
  }
  .service_inner{
    width: 100%;
    height: 160px;
    padding: 35px 0 20px;

  }
  .arrow_down img{
    width: 40px;
  }
  .plus{
    margin-top: 30px;
  }
  .service-container{
    background-image: url(../images/service/newplan_bkg-sp.jpg);
  }
  #newplan {
    height: 680px;
  }
  #newplan h2{
    font-size: 29px;
  }
}