#service {
  background-color: #E2D0CA;
  padding: 110px 0;
  text-align: center;
}

.service_text {
  line-height: 2;
  letter-spacing: 0.1rem;
  margin-top: 65px;
}

.service_flex {
  display: flex;
  justify-content: space-between;
}

.service_content{
  background-color: #F6EEEB;
  padding: 100px 60px;
  border-radius: 550px 550px 0 0;
  margin-top: 100px;
}

.service_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service_item {
  margin-top: 40px;
}

.service_item img {
  width: 230px;
  z-index: 2;
}

.service_item p{
  margin: auto;
}

.service_innner{
  width: 310px;
  height: 160px;
  background-color: #E2D0CA;
  padding: 40px 0 30px;
  margin-top: -25px;
  z-index: 1;
}

.service_think{
  text-align: center;
  width: 600px;
  padding: 50px 0 20px;
}

.service_item h3 {
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 0.1rem;
  margin: auto;
}

.service_text_br{
  display: none;
}

.arrow_down {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.arrow_down img {
  width: 53px;
  display: block;
}

.plus {
  display: inline-block;
  vertical-align: middle;
  color: #C38C80;
  line-height: 1;
  width: 2px;
  height: 40px;
  background: currentColor;
  border-radius: 0;
  position: relative;
  margin-top: 135px;
}

.plus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

@media (max-width: 1200px) {
  .service_text_br{
    display: block;
  }
}
@media (max-width: 1020px) {
  .service_item img{
    width: 200px;
  }
  .service_item h3{
    letter-spacing: 0.1rem;
    font-size: 26px;
  }
  .service_item p {
    font-size: 14px;
    letter-spacing: 0.05rem;
  }
  .service_text_br{
    display: block;
  }
  .plus{
    height: 30px;
  }
}
@media (max-width: 767px) {
  #service{
    padding: 80px 0;
  }
  .service_flex {
    display: block;
    align-items: center;
  }
.service_item img{
  width: 230px;
}
  .service_item h3{
    letter-spacing: 0.2rem;
    font-size: 29px;
  }
  .service_item p {
    font-size: 16px;
    width: 100%;
  }
  .service_text_br{
    display: none;
  }
  .service_innner{
    background-color: #fff;
    width: 100%;
  }
  .plus{
    height: 40px;
    margin-top: 30px;
  }
}