/* ------------------- */
/* BANNER            */
/* ------------------- */
.inspiration-banner{
    width: 100%;
    height: 380px;
    /* border: 1px solid red; */
    background: url(../../images/common/banner.jpg);
    /* background-attachment: fixed; */
    background-size: cover;
    overflow: hidden;
    margin-top: 140px;
    margin-top: 40px;
}
.test{
    width: 100%;
    height: 380px;
    /* border: 1px solid red; */
    background: url(../../images/common/banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    margin-top: 140px;
    margin-top: 40px;
}
.banner-wrapper{
    margin:0;
    padding: 0;
    margin-left:18.726vw ;
    margin-top: 74.3px ;
}
/* .banner-cont{
    margin:0;
    padding: 0;
    margin-left:255.8px ;
    margin-top: 74.3px 
} */

.banner-wrapper{
    transform: translateY(-650px);
}


.banner_book{
    padding: 12.1px 65.6px 13.9px 66.4px;
}

.banner_book.white-btn::after {
    top: 19px;
    right: 20px;
}

.banner_contact{
    padding: 12.4px 49.4px 13.8px 48.6px;
}

.banner_contact.white-btn::after {
    top: 19px;
    right: 20px;
}
  
#advantage{
    min-height: 100vh;
}

.banner_subtitle{
    line-height: 40px;
    margin-bottom: 40.9px;
}

.banner-btn_wrapper{
    display: flex;
    gap: 10px;
}