/* ------------------- */
/* BANNER              */
/* ------------------- */

.banner {
  width: 100%;
  height: 380px;
  background: url(../../images/common/banner.jpg);
  background-size: cover;
  overflow: hidden;
  margin-top: 140px;
}

/*----------------------------
    Banner Wrapper
    バナーのラッパー
----------------------------*/
.banner-wrapper {
  margin: 0;
  padding: 0;
  margin-left: 23px;
  margin-top: 74.3px;
}

/*----------------------------
    Banner Buttons
    バナーボタン
----------------------------*/

.banner_book {
  padding: 12.1px 65.6px 13.9px 66.4px;
}

.banner_book.white-btn::after {
  top: 19px;
  right: 20px;
}

.banner_contact {
  padding: 12.4px 49.4px 13.8px 48.6px;
}
.banner_contact a,
.banner_book a {
  letter-spacing: 1.12px;
}

.banner_contact.white-btn::after {
  top: 19px;
  right: 20px;
}

.banner_subtitle {
  line-height: 40px;
  margin-bottom: 40.9px;
}

.banner-btn_wrapper {
  display: flex;
  gap: 10px;
}

.banner_title {
  letter-spacing: 5px;
}

/* ------------------- */
/*       MOBILE        */
/* ------------------- */

/*----------------------------
   Responsive Typography 
   レスポンシブなティポグラフィ
----------------------------*/

@media (max-width: 466px) {
  .banner_title {
    font-size: 29px;
    letter-spacing: 2.9px;
  }
  .banner_subtitle {
    letter-spacing: 0.32px;
    line-height: 30px;
  }
  .banner_contact a {
    letter-spacing: 1.28px;
  }
  .banner_book a {
    letter-spacing: 2.4px;
  }
}
/*----------------------------
    Banner Background - Mobile
    バナーの背景 - モバイル
----------------------------*/
@media (max-width: 466px) {
  .banner {
    width: 100%;
    height: 400px;
    background: url(../../images/common/banner_sp.jpg);
    background-size: cover;
    overflow: hidden;
    margin-top: 140px;
  }
}

/*----------------------------
    Banner Buttons - Mobile
    バナーボタン  - モバイル
----------------------------*/

@media (max-width: 466px) {
  .banner-btn_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .banner_book {
    padding: 12.06px 83.65px 13.9px 84.35px;
    display: grid;
    place-content: center;
  }
  .banner_contact {
    padding: 12.06px 68.65px 13.8px 69.35px;
    display: grid;
    place-content: center;
  }
  .banner-btn_text{
    width: fit-content;
    height: fit-content;
    /* border: 1px solid red; */
  }
}

/*----------------------------
    Banner Wrapper - Mobile
    バナーのラッパー  - モバイル
----------------------------*/

@media (max-width: 466px) {
  .banner-wrapper {
    margin: 0;
    padding: 0;
    padding-top: 62.5px;
    padding-bottom: 60px;
  }
}

/*----------------------------
    Banner Other - Mobile
   バナーその他 - モバイル
----------------------------*/

@media (max-width: 466px) {
  .banner_title {
    /* border: 1px solid red; */
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
  }
  .banner_subtitle {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
  }
}


