/* ------------------- */
/* Button Hover Fix     */
/* ------------------- */


/*----------------------------
  White ==> Black
----------------------------*/
.black-to-white:hover{
    background-color: white;
    border: 1px solid #45484B;
}

.black-to-white:hover p{
  color:#45484B ;
}
.black-to-white:hover::after {
    content: url(../../images/common/btn-chevron_white.svh.svg);

}

/*----------------------------
   Black ==> White
----------------------------*/

.arrow-hover-white:hover::after {
    content: url(../../images/inspiration/btn-chevron.svg);
}
.white-to-black{
    color: #45484B ;
}
.white-to-black p{
    color: #45484B;
}
.white-to-black:hover{
    background-color: #45484B;
   color: #FFFFFF ;
   transition: 0.3s;
}
.white-to-black:hover p{
   color: #FFFFFF ;
}