body{
height: 100dvh;
}

.thanks{
    height: 100dvh;
    width: 100%;
    display: grid;
    place-content: center;
    position: relative;
}
.company_name{
    position: absolute;
    bottom: 0;
}
.thanks-top{
    /* margin-bottom: min(17.2px,1.1944vw ); */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: min(44.4px,3.0833vw );
}
.thanks-top_eng{
    font-size: 14px;
    letter-spacing: 0.18em;
    text-align: center;
    margin-bottom: min(20px,1.3889vw);
}
.thanks-top_jp{
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: min(17.2px,1.1944vw );
    width: min-content;
    text-wrap: nowrap;
    /* border: 1px solid black; */
}
.decor{
    height: 1px;
    width: 100%;
    background-color: #45484B;
    margin-bottom: min(44.4px,3.0833vw );
}
.thanks-bottom{
    text-align: center;
    line-height:max(36px,2.5vw ) ;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:500px){
    .thanks-top_eng{
        font-size: min(14px,3.5897vw);
        letter-spacing: 0.18em;
        margin-bottom: min(22px,5.641vw);
    }
    .thanks-top_jp{
        font-size:min(20px,4.6154vw);
        letter-spacing: 0.06em;
        margin-bottom: min(17.2px,4.4103vw );
    }
    .thanks-top{
        /* margin-bottom: min(17.2px,4.4103vw ); */
        margin-bottom: min(35.2px,9.0256vw );
    }
    .decor{
        /* margin-bottom: min(35.2px,9.0256vw ); */
    }
    .thanks-bottom{
        line-height:min(36px,9.2308vw ) ;
        font-size: min(16px,4.1026vw);
    }
}