/* ------------------- */
/* Utility             */
/* ------------------- */

/*----------------------------
    Main Grid
    メイングリッド
----------------------------*/
/* コンテンツ幅1100px */
.main-grid{
    display: grid;
    grid-template-columns: 1fr 1100px 1fr;
}

/* 中央に配置 */
.main-grid-column-2{
    grid-column: 2;
    /* grid-column: 2/3; */
}

/* メイングリッドの3つのカラムすべてを占有する */
.main-grid-column-1_4{
    grid-column: 1 / 4;
}

.main-grid-column-2_4{
    grid-column: 2 / 4;
}


/*----------------------------
    Section Buttons - black
    セクションボタン - 黒
----------------------------*/

.black-btn{
    border: none;
    background-color: black;
    position: relative;
}

.black-btn a{
    text-decoration: none;
    color:white;
}

.black-btn:hover{
    cursor: pointer;
}

.black-btn::after{
    content: url(../../images/inspiration/btn-chevron.svg);
    position: absolute;
    width: 6px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 3;
}

/*----------------------------
    Section Buttons - White
    セクションボタン - 白
----------------------------*/

.white-btn{
    border: none;
    background-color: white;
    position: relative;
}

.white-btn a{
    text-decoration: none;
    color:black;
}
.white-btn:hover{
    cursor: pointer;
}

.white-btn::after{
    content: url(../../images/common/btn-chevron_white.svh.svg);
    position: absolute;
    width: 6px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 3;
}
/*----------------------------
    Responsive 
    レスポンシブ
----------------------------*/

/* スクリーン幅が768px未満のデバイスでのみ表示 */
.mobile-only{
    display: none;
}
/* スクリーン幅が768pxより大きいデバイスでのみ表示 */
.pc-only{
    display: block;
}

@media(max-width:768px){
    .mobile-only{
        display: block;
    }

    .pc-only{
        display: none;
    }
}

