/* ------------------- */
/* Utility             */
/* ------------------- */

/*----------------------------
    Main Grid
    メイングリッド
----------------------------*/
/* コンテンツ幅1100px */
.main-grid{
    display: grid;
    grid-template-columns: 1fr 1100px 1fr;
}

/* 中央に配置 */
.main-grid-column-2{
    grid-column: 2;
}

/*----------------------------
    Section Buttons
    セクションボタン
----------------------------*/

.black-btn{
    border: none;
    background-color: black;
    position: relative;
}

.black-btn a{
    text-decoration: none;
    color:white;
}

.black-btn:hover{
    cursor: pointer;
}

.black-btn::after{
    content: url(../../images/inspiration/btn-chevron.svg);
    position: absolute;
    width: 6px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 3;
}
